/* Reset default settings  */
*,
*::before,
*::after {
  /* changing how PADDING is calculated to make it within a width instead of adding to the total width of something */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* we flex here to push the footer down the bottom in case there is not a lot of content in the body with content class */
  display: flex;
  flex-direction: column;
}

/* setting up images just so they don't grow bigger and overflow at the side of their parents */
img {
  display: block;
  max-width: 100%;
}

.container > p {
  text-align: justify;
}

/* class to push the footer down the bottom in case there is not a lot of content in the body */
.content {
  flex-grow: 1;
}

.banner {
  height: 360px;
  object-fit: cover;
  width: 100%;
}

.hero__img img {
  height: 320px;
}

.jobs__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 768px) {
  .jobs__wrapper {
    flex-wrap: wrap;
  }
  .button__wrapper {
    margin-top: 5px;
  }
}

.job__title {
  color: rgb(120, 120, 120);
  margin-bottom: 4px;
}

.job__location,
.job__salary {
  margin: 0;
}
