{% extends "base.html" %} {% block title %}JK Digital Careers{% endblock %} {%
block content %}

<div class="container">
  <!-- HERO Section -->
  <!-- HERO TITLE -->
  <h1 class="text-center mt-5 mb-4">About this Project</h1>
  <!-- HERO INFORMATION -->
  <div class="row">
    <!-- col-md-6 takes 6 columns out of 12 on medium devices -->
    <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto quas rem
        odit modi illum! Sequi laborum autem incidunt aliquid, explicabo sunt
        aliquam voluptate vitae beatae iusto rerum delectus unde blanditiis!
        Sunt illum officia maxime tempore libero voluptas, nulla magni
        blanditiis reprehenderit nostrum harum doloremque veniam expedita est
        vel magnam distinctio amet nihil ea odio soluta eveniet eum velit
        voluptate.
      </p>
    </div>

    <!-- HERO IMAGE -->
    <!-- d-none d-md-block will not show the picture on small devices -->
    <div class="d-none d-md-block col-md-6">
      <img
        class="hero__img"
        src="{{ url_for('static', filename='images/quick-wireframe-1.png') }}"
        alt="wireframe"
      />
    </div>
  </div>

  <div class="text-center mt-5">
    <a
      href="https://github.com/JanisKarasa/jk-digital-careers-website-v2"
      class="btn btn-primary btn-lg"
      >Link to Code</a
    >
  </div>
</div>

{% endblock %}
