{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
%}

<h1 class="text-center mt-5 mb-4">Manage Job Listings</h1>

<div class="container">
  <!-- FLASH MESSAGE that changes colors (red or green) according to category (success or danger)-->
  {% include 'includes/flash_message_logic.html' %} {% for job in jobs %}
  <div class="jobs__wrapper">
    <!-- looping through the jobs=JOBS - the list of many dictionaries, putting them in tags and giving them styling-->
    {% include 'includes/jobitem.html' %}
    <div class="button__wrapper">
      <!-- Linking the button to all applications for the specific job -->
      <a
        href="/api/apps_by_job/{{job.id}}"
        class="btn btn-outline-primary btn-sm"
        >View Applications</a
      >
      <a href="/api/job/{{job.id}}" class="btn btn-outline-primary btn-sm"
        >View Job Description</a
      >

      <!-- UPDATE BUTTON with FORM, INPUT & BUTTON -->
      <!-- Start of a form element with the HTTP POST method sending info to "/admin/update-job" route/endpoint -->
      <form method="POST" action="/admin/update-job" class="d-inline-block">
        <!-- Hidden input field to store/populate the job ID value to send it to endpoint to render the update form with job details to edit -->
        <!-- 'name' is used as the key, and it specifies the name of the form field. 'value' is used as the value associated with that form field. -->
        <!-- When the form is submitted, the data is sent to the server as a key-value pair. -->
        <input type="hidden" name="job_id" value="{{ job.id }}" />
        <!-- Delete button triggering the form submission - sending ImmutableMultiDict([('job_id', 'x')]) to "/admin/update-job" request.form -->
        <button type="submit" class="btn btn-warning btn-sm">Update</button>
      </form>

      <!-- DELETE BUTTON with FORM, INPUT & BUTTON -->
      <!-- Start of a form element with the HTTP POST method sending info to "/delete-job" route/endpoint -->
      <form method="POST" action="/admin/delete-job" class="d-inline-block">
        <!-- Hidden input field to store/populate the job ID value to send it to endpoint that takes care of deletion-->
        <!-- 'name' is used as the key, and it specifies the name of the form field. 'value' is used as the value associated with that form field. -->
        <!-- When the form is submitted, the data is sent to the server as a key-value pair. -->
        <input type="hidden" name="job_id" value="{{ job.id }}" />
        <!-- Delete button triggering the form submission - sending ImmutableMultiDict([('job_id', 'x')]) to "/delete-job" request.form -->
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>

      <a href="/admin/suspend/job/{{job.id}}" class="btn btn-secondary btn-sm"
        >Suspend</a
      >
    </div>
  </div>
  {% endfor %}

  <div class="text-center">
    <a href="/admin/create-job" class="btn btn-primary btn-lg"
      >Create Job Posting</a
    >
  </div>
</div>

{% endblock %}
