{% extends "base.html" %} {% block title %}Application Submitted{% endblock %}
{% block content %}

<div>TODO: PREVENT enter key from submitting the form</div>

<!-- BANNER -->
{% include 'includes/banner.html' %}

<div class="container">
  <!-- HERO Section -->
  <!-- HERO TITLE -->
  <h1 class="text-center mt-5 mb-4">JK Digital Careers</h1>

  <!-- FLASH MESSAGE that changes colors (red or green) according to category (success or danger)-->
  {% include 'includes/flash_message_logic.html' %}

  <!-- CONFIRMATION -->
  <p>
    Your application for the role of <b>{{job.title}}</b> at JK Digital has been
    submitted.
  </p>

  <!-- NAME -->
  <b>Full Name</b>
  <div class="mb-2">{{application.full_name}}</div>

  <!-- EMAIL -->
  <b>Email</b>
  <div class="mb-2">{{application.email}}</div>

  <!-- LINKEDIN URL -->
  <b>LinkedIn URL</b>
  <div class="mb-2">{{application.linkedin_url}}</div>

  <!-- EDUCATION -->
  <b>Education</b>
  <div class="mb-2">{{application.education}}</div>

  <!-- WORK EXPERIENCE -->
  <b>Work Experience</b>
  <div class="mb-2">{{application.work_experience}}</div>

  <!-- RESUME URL -->
  <b>Resume URL</b>
  <div class="mb-2">{{application.work_experience}}</div>
</div>

{% endblock %}
