<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      >
        <img
          src="{{ url_for('static', filename='images/jk-digital-logo.png') }}"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"
        >&copy; 2023 JK Digital</span
      >
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://twitter.com"
          ><img
            src="{{ url_for('static', filename='images/icons8-twitter-24.png') }}"
            alt="Twitter icon by Icons8"
            width="24"
            height="24"
            class="d-inline-block align-text-top text-body-secondary"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://instagram.com"
          ><img
            src="{{ url_for('static', filename='images/icons8-instagram-24.png') }}"
            alt="Instagram icon by Icons8"
            width="24"
            height="24"
            class="d-inline-block align-text-top text-body-secondary"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://facebook.com"
          ><img
            src="{{ url_for('static', filename='images/icons8-facebook-24.png') }}"
            alt="Facebook icon by Icons8"
            width="24"
            height="24"
            class="d-inline-block align-text-top text-body-secondary"
        /></a>
      </li>

      <li class="ms-3">
        <a class="text-body-secondary" href="https://LinkedIn.com"
          ><img
            src="{{ url_for('static', filename='images/icons8-linkedin-24.png') }}"
            alt="LinkedIn icon by Icons8"
            width="24"
            height="24"
            class="d-inline-block align-text-top text-body-secondary"
        /></a>
      </li>
    </ul>
  </footer>
</div>

