{% extends "base.html" %} {% block title %}JK Digital Careers{% endblock %} {%
block content %}

<!-- BANNER -->
{% include 'includes/banner.html' %}

<div class="container">
  <!-- HERO Section -->
  <!-- HERO TITLE -->
  <h1 class="text-center mt-5 mb-4">JK Digital Careers</h1>
  <!-- HERO INFORMATION -->
  <div class="row">
    <!-- col-md-6 takes 6 columns out of 12 on medium devices -->
    <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto quas rem
        odit modi illum! Sequi laborum autem incidunt aliquid, explicabo sunt
        aliquam voluptate vitae beatae iusto rerum delectus unde blanditiis!
        Sunt illum officia maxime tempore libero voluptas, nulla magni
        blanditiis reprehenderit nostrum harum doloremque veniam expedita est
        vel magnam distinctio amet nihil ea odio soluta eveniet eum velit
        voluptate.
      </p>
    </div>

    <!-- HERO IMAGE -->
    <!-- d-none d-md-block will not show the picture on small devices -->
    <div class="d-none d-md-block col-md-6">
      <img
        class="hero__img"
        src="{{ url_for('static', filename='images/people-working.jpg') }}"
        alt="people working"
      />
    </div>
  </div>

  <!-- OPEN POSITIONS -->
  <h2 class="text-center mt-5 mb-4">Open Positions</h2>

  <div>
    <!-- looping through the jobs=jobs - the list of many dictionaries, putting them in tags and giving them styling -->
    {% for job in jobs %}
    <div class="jobs__wrapper">
      {% include 'includes/jobitem.html' %}
      <div>
        <!-- Linking the button to application form of the specific job -->
        <a href="/job/{{job.id}}" class="btn btn-outline-primary btn-sm"
          >Apply</a
        >
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="text-center">
    <a
      href="mailto:hello@jkdigital.com?subject=Question%20about%20Open%20Positions&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20your%20question%20here%3E"
      class="btn btn-primary btn-lg"
      >Contact Us</a
    >
  </div>
</div>

{% endblock %}
