{% extends "base.html" %} {% block title %}JK Digital Careers{% endblock %} {%
block content %}

<div class="container">
  <!-- TITLE of the FORM -->
  <h4 class="mt-5 mb-4 text-center">Update a Job Posting</h4>
  <!-- FLASH MESSAGE that changes colors (red or green) according to category (success or danger)-->
  {% include 'includes/flash_message_logic.html' %}
  <form action="/admin/update-job-posting/{{job.id}}" method="post">
    <!-- Now form data is posted, it is sent by the browser along with the (http post) request to this URL (http://127.0.0.1:5000/admin/update-job-posting/<job.id>),
        to this server, and the server, which is running my Flask app, receives the request. This data is included in the body of the HTTP request.
        And now that data is accessed/retrieved using request.form in (‘/admin/update-job-posting/<job.id>’, method=[post]) route in app.py to do all sorts of things ... -->

    <!-- JOB TITLE -->
    <div class="mb-3">
      <label for="job_title" class="form-label">Job Title</label><br />
      <input
        type="text"
        class="form-control"
        required
        id="job_title"
        name="job_title"
        value="{{ job.title }}"
        placeholder="Python Engineer"
      />
    </div>

    <!-- LOCATION -->
    <div class="mb-3">
      <label for="job_location" class="form-label">Location</label><br />
      <input
        type="text"
        class="form-control"
        required
        id="job_location"
        name="job_location"
        value="{{ job.location }}"
        placeholder="Hamburg"
      />
    </div>

    <!-- SALARY -->
    <div class="mb-3">
      <label for="job_salary" class="form-label">Salary</label><br />
      <input
        type="number"
        class="form-control"
        id="job_salary"
        name="job_salary"
        value="{{ job.salary }}"
      />
    </div>

    <!-- CURRENCY -->
    <div class="mb-3">
      <label for="job_currency" class="form-label">Currency</label><br />
      <input
        type="text"
        class="form-control"
        id="job_currency"
        name="job_currency"
        value="{{ job.currency }}"
      />
    </div>

    <!-- RESPONSIBILITIES -->
    <div class="mb-3">
      <label for="job_responsibilities" class="form-label">Responsibilities</label><br />
      <textarea
        required
        class="form-control"
        id="job_responsibilities"
        name="job_responsibilities"
        cols="40"
        rows="10"
      >
{{ job.responsibilities }}</textarea
      >
      <!-- because the <textarea> element does not have a value attribute, place the initial value inside the <textarea> element as its content -->
    </div>

    <!-- REQUIREMENTS -->
    <div class="mb-3">
      <label for="job_requirements" class="form-label">Requirements</label><br />
      <textarea
        required
        class="form-control"
        id="job_requirements"
        name="job_requirements"
        cols="40"
        rows="10"
      >
{{ job.requirements }}</textarea
      >
      <!-- because the <textarea> element does not have a value attribute, place the initial value inside the <textarea> element as its content -->
    </div>

    <!-- hCAPTCHA -->
    <!-- {{ hcaptcha }} -->

    <!-- SUBMIT BUTTON -->
    <input type="submit" value="Update" class="btn btn-warning btn-sm" />
    <!-- When a user clicks on a button with type="submit" within an HTML form, it triggers the submission of that form. 
        This means that the data entered into the form fields is sent to the server for processing. 
        When clicked, it will trigger the submission of the form, sending the data to the server-side URL specified in the action attribute.-->
    
    <!-- RESET BUTTON -->
    <!-- Resets data back to original data taken from database -->
    <button type="reset" class="btn btn-secondary btn-sm">Reset</button>
    
    <!-- CANCEL BUTTON -->
    <a href="{{ url_for('admin') }}" class="btn btn-danger btn-sm">Cancel</a>
  </form>
</div>

{% endblock %}
